.card , .selection-title{
    font-size: 2.5em;
    transition: .3s;
    min-height: 32vh;
    position: relative;
    border-radius: 4px;
    text-align: center;
    background-color: #62a7e9;/*#62a7e9;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.selection-title{
    padding: 250px 0;
}

.title {
    font-size: 5.5em;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}