.main{
    display:flex;
    flex-direction: column;
    color:black;
    padding:5px;
    align-items: center;
    justify-content: center;
}

.login-box {
   display: flex;
   align-items: center;
   justify-content: center;
}
