.profile-list {
    grid-gap: 10px;
    max-width: fit-content;
    max-height: min-content;
}

@media (min-width: 320px) {
    .profile-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 769px) {
    .profile-list {
        display: flex;
        flex-wrap: wrap;
    }
}

.profile-content {
    align-items: flex-start;
}

.profile-pic {
    min-width: fit-content;
}