.myimg{
    width:300px;
    height:300px;
    object-fit:cover;
    border-radius:50%;
  }
  .card{
    width:300px;
    height:fit-content;
    background-size:fit;
    background-position:center;
    /* border-radius:50%; */
  }
.text-main{
  margin-left: -133px;
  font-size: 1rem;
}
.text-sec{
  margin-left: 76px;
  margin-top: -37px;
}

 