.login-container {
    max-width: max-content;
    margin: 0 auto;
}

.name,
.password {
    display: flex;
    margin-bottom: 10px;
}

form label {
    min-width: 10vw;
}

form {
    text-align: center;
    padding: 30px;
    margin-top: 10%;
    border-radius: 5px;
    background-color: #ccc;
}

form button {
    margin-top: 10px;
    border-radius: 3px;
    background-color: #62a7e9;
    color: #eee;
}

.profile-img {
    width: 400px;
    height: 400px;
    min-width: 350px;
    min-height: 350px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 2px solid #111;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.form-check-label {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.form-border {
    border: groove #c2baba;
    padding: 5px;
}

.custom-file-input {
  display: none;
}

.custom-file-label::after {
  content: 'Browse';
}

.custom-file-input:focus ~ .custom-file-label::after {
  border-color: #62a7e9;
  box-shadow: 0 0 0 0.2rem rgba(98, 167, 233, 0.25);
}

.custom-file-label::after {
  transition: all 0.3s ease;
}

.custom-file-input:lang(en)~.custom-file-label::after {
  content: 'Browse';
}

.custom-file-input~.custom-file-label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.custom-file-input~.custom-file-label::after {
  content: 'Choose File';
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  background-color: #62a7e9;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-file-input~.custom-file-label:hover::after {
  background-color: #5b97db;
}
