.profile-img {
  width: 400px;
  height: 400px;
  min-width: 350px;
  min-height: 350px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.text-main {
  margin-left: -133px;
  font-size: 1rem;
}

.text-sec {
  margin-left: 76px;
  margin-top: -37px;
}