* {
    margin: 10;
    /* color: #ddd; */
    text-decoration: none;
    box-sizing: border-box;
  }
  html {
    font-family: "Montserrat", sans-serif;
  }
  body {
    background: #eee;
    padding: 0 10px;
  }
  